<script type="text/javascript">
    function menuchange(i) {
        $('#tab' + i).addClass('active');
    };
</script>


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Project++</title>
    @Styles.Render("~/Content/css/semantic.min.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css/jquery-ui.min.css")
    @Styles.Render("~/Content/css/fullcalendar.css")

</head>
<body style="padding-top: 5px">
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/semantic.min.js")
    @Scripts.Render("~/Scripts/jquery-ui.min.js")
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/fullcalendar.js")
    @RenderSection("scripts", required: false)
    <div class="ui grid">
        <div class="one wide column"></div>
        <div class="fourteen wide column">
            <div class="ui top attached inverted teal menu">
                <a id="tab1" class="item" href="/">Dashboard</a>
                <div class="ui dropdown item">
                    Groups
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="/Pages/ManageGroup">Manage Group</a>
                        <a class="item" href="/Pages/CreateGroup">Create Group</a> 
                    </div>
                </div>
                <a id="tab6" class="ui right item" href="/Pages/Login">Sign In</a>
            </div>
        </div>
        <div class="one wide column"></div>
    </div>
    <div>
        <span>&nbsp;</span>
    </div>
    <div class="ui grid">
        <div class="one wide column"></div>
        <div class="fourteen wide column">@RenderBody()</div>
        <div class="one wide column"></div>
    </div>
    
   
</body>

</html>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ui.dropdown.item').dropdown();
    });
</script>
