<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css/semantic.min.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css/jquery-ui.min.css")

    
</head>
<body>
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/semantic.min.js")
    @Scripts.Render("~/Scripts/jquery-ui.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
