@model Google.Apis.Drive.v2.Data.FileList

@{
    ViewBag.Title = "Shared Files";
}

<h2>Shared Files</h2>

<div>
    <table class="ui celled teal table">
        <thead class="inverted teal">
            <tr>
                <th>File Name</th>
                <th>Owner</th>
                <th>Creation Date</th>
                <th>Edit File</th>
                <th>Download File</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Google.Apis.Drive.v2.Data.File thing in Model.Items)
            {
                <tr>
                    <td>@thing.Title</td>
                    <td>@thing.Owners[0].DisplayName</td>
                    <td>@thing.ModifiedDate</td>
                    <td style="text-align:center;"><button class="ui icon button teal" onclick="window.open('@thing.AlternateLink')"><i class="edit icon"/></button></td>
                    <td style="text-align:center;"><button class="ui icon button teal" onclick="location.href='@thing.WebContentLink'"><i class="download icon" /></button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        menuchange(5);
    });
</script>