
@model Project__.Models.UsersVM

<script type="text/javascript">
    function Message() {
        var params = '';
        params += $('#messageform').serialize();
        $.ajax({
            url: '@Url.Action("NewMessage")',
            method: 'POST',
            data: params

        });
    };
    function NewTask() {
        var params = '';
        params += $("#newtaskform").serialize();
        $.ajax({
            url: '@Url.Action("CreateNewTask")',
            method: 'POST',
            data: params
        });
        location.reload();
    };
    function MessageBox() { s
        $("#chatbox").load('MessageBox');
    };
</script>

<div class="ui grid">
    <div class="four wide column">
        <div class="ui card">
            <div class="image">
                <img src="~/Content/images/avatar@(Model.Users.Avatar_Num).png" style="max-height: 100%; max-width: 100%;"/>
            </div>
            <div class="content">
                <div class="meta">
                    @(Model.Users.FirstName != null ? Model.Users.FirstName : "Blank") @(Model.Users.LastName != null ? Model.Users.LastName : "Blank")
                </div>
                <div class="description">
                    @Model.Users.Username
                </div>
            </div>
        </div>
        <div class="ui raised teal segment">
            Groups<br />
            @foreach(var grouplist in Model.GroupMemberList)
            {
                if(grouplist.UserID == (int)Session["LoginId"])
                {
                    <a href="/Pages/GroupDashboard">@grouplist.GroupName</a><div class="ui radio checkbox"><input type="radio" name="check" checked="checked" /><label></label></div><br />
                }
            }
        </div>
    </div>
    <div class="twelve wide column">
        <div class="ui teal raised segment">
            <h4>Task</h4>
            <div class="ui grid">
                <div class="eleven wide column">
                        <table class="ui teal celled table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Due Date</th>
                                    <th>Group</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var t in Model.TaskList)
                                {
                                    foreach (var p in Model.GroupList)
                                    {
                                        if (t.AssignedUserID == Model.UserId && p.ProjectID == t.GroupID)
                                        {
                                            <tr>
                                                <td>
                                                    @t.TaskName
                                                </td>
                                                <td>
                                                    @t.Description
                                                </td>
                                                <td class="@(t.DueDate > DateTime.Now ? "positive" : "negative")">
                                                    @t.DueDate.ToString("MM/dd/yyyy")
                                                </td>
                                                <td>
                                                    @p.Name
                                                </td>
                                            </tr>
                                        }
                                    }

                                }
                            </tbody>
                        </table>
                </div>
                <div class="five wide column">
                    <div class="ui teal raised segment">
                        <form name="newtaskform" id="newtaskform">
                            <h4>Create A Task</h4>
                            <div class="ui divider"></div>
                            <div class="ui form">
                                <div class="field">
                                    <label>Name</label>
                                    <input type="text" name="taskname" />
                                </div>
                                <div class="field">
                                    <label>Group Name</label>
                                    <select class="ui dropdown" name="groupid" style="max-width: 90%">
                                        <option value="" style=""></option>
                                        @foreach (var g in Model.GroupMemberList)
                                        {
                                            foreach (var p in Model.GroupList)
                                            {
                                                if (g.GroupName == p.Name && g.UserID == (int)Session["LoginId"])
                                                {
                                                    <option value="@p.ProjectID" @(Model.Users.DefaultGroupID == p.ProjectID ? "selected" : "")>@g.GroupName</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="field">
                                    <label>Description</label>
                                    <input type="text" name="description" />
                                </div>
                                <div class="field">
                                    <label>Due Date</label>
                                    <div class="ui icon input">
                                        <input type="text" name="duedate" id="datepicker" size="32" />
                                        <i class="calendar icon"></i>
                                    </div>
                                </div>
                                <div class="ui orange submit button" onclick="NewTask()">Create</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        menuchange(1);
        $('#calendar').fullCalendar({
            height: 400
        });
        $("#datepicker").datepicker();
        $('select.dropdown').dropdown();
    });
</script>